/* Untuk Tablet */
@media all and (max-width: 991px) {
  html{
        font-size: 55%;
    }

    .header-right{
        display: none;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .team .footer-box{
    flex-wrap: wrap;
  }

/*
  .header-right {
    display: none;
  }
  
  span.menu-icon {
    display: block;
  }
  
  .btn {
    width: 100%;
  }

  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  
  .lesson {
    width: 100%;
  }
  
  footer {
    text-align: center;
  }*/
}
