/* Untuk Tablet */
@media all and (max-width: 1000px) {
  html{
        font-size: 55%;
    }

    
    .header-right .nav{
        display: none;
    }

    .header-right #bar{
        display: block;      
    }
  .home .image{
      flex: 0 1 38rem;
  }

  .home .image img{
      width:100%;
  }
  
   .about .column {
        width: 100%;
    }
      
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {

  .header-right .nav{
    display: none;
  }
  
  .header-right #bar{
    display: block;
  }
  
  span .menu-icon {
    display: block;
  }
  
  .team .footer-box{
    flex-wrap: wrap;
  }
}
