/* Untuk Tablet */
@media all and (max-width: 991px) {
  html{
        font-size: 55%;
    }

    .header-right{
        display: none;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .team .footer-box{
    flex-wrap: wrap;
  }
}
