html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://kabupatenlestari.org/assets/upload/image/berita.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.top-wrapper h1 {
  opacity: 0.8;
  letter-spacing: 5px;
  font-size: 45px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.8;
  margin-bottom: 3px;
}
